DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/langchain_rag"
# 通用Deepseek、openai 都用这个变量
LLM_BASE_URL=https://api.deepseek.com
OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx